body {
background:#d8d2c3;
color:#444;
font-family:Arial, Helvetica, FreeSans, sans-serif;
font-size:14px;
margin:0;
}

#header-container {
background:url(images/torn.jpg) repeat-x;
height:150px;
}

#branding {
height:100px;
}

#logo {
margin-top:5px;
}

#site-name {
font-size:22px;
font-weight:700;
margin-top:30px;
}

a,a:link {
color:#81856e;
outline:none;
}

a:hover {
text-decoration:underline;
}

legend {
font-weight:700;
}

fieldset {
border:1px solid #a59e94;
padding:2px 10px;
}

dd {
margin-bottom:5px;
}

h1 {
font-size:26px;
font-weight:100;
letter-spacing:-1px;
margin:5px 0;
}

h2 {
font-size:22px;
font-weight:100;
letter-spacing:-1px;
margin:5px 0;
}

h3 {
font-size:18px;
font-weight:400;
letter-spacing:-1px;
}

h4 {
font-size:16px;
font-weight:400;
letter-spacing:2px;
text-transform:uppercase;
}

h5 {
font-size:14px;
text-transform:uppercase;
letter-spacing:2px;
font-weight:400;
}

h6 {
font-size:12px;
font-weight:700;
text-transform:uppercase;
letter-spacing:1px;
background:#ddd;
padding:10px;
}

li.collapsed {
list-style-image:url(images/right.png);
}

li.expanded {
list-style-image:url(images/down.png);
}

#footer-container {
font-size:12px;
background:#c3bdb1;
border-top:1px solid #97948a;
border-bottom:1px solid #97948a;
padding:20px 0;
}

#footer-message,#designed {
text-align:center;
}

#footer h2 {
font-size:14px;
letter-spacing:0;
font-weight:700;
}

#footer h3 {
font-size:14px;
border-bottom:1px solid #aaa;
letter-spacing:0;
}

.filefield-element .widget-preview {
min-width:30%;
}

tr,td,th,td.active,th.active,thead th,tbody th {
background:none;
border:none;
text-align:left;
vertical-align:top;
padding:3px;
}

tr.even,tr.even td {
background:#e1dbcb;
border:none;
}

tr.odd,tr.odd td {
background:#dcd6c7;
border:none;
}

div.fullspan {
clear:both;
display:block;
width:960px;
margin:auto;
}

/* Superfish Menu */

#nav {
z-index:98;
}

#nav ul,#nav li {
list-style:none;
list-style-image:none;
margin:0;
padding:0;
}

.sf-menu ul {
position:absolute;
top:-999em;
width:200px;
}

.sf-menu li:hover {
visibility:inherit;
}

.sf-menu li:hover ul,.sf-menu li.sfHover ul {
left:0;
top:27px;
z-index:99;
}

.sf-menu {
float:left;
}

.sf-menu a {
font-weight:700;
display:block;
position:relative;
padding:5px 30px;
}

.sf-menu a,.sf-menu a:visited {
color:#444;
}

.sf-menu li {
float:left;
position:relative;
}

.sf-menu li li {
border:1px solid #aca699;
border-top:1px solid #c7bfb2;
background:#c3bdb0;
}

.sf-menu li:hover,.sf-menu li.sfHover,.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active {
outline:0;
color:#fff;
}

.sf-menu a.sf-with-ul {
padding-right:30px;
min-width:1px;
}

.sf-sub-indicator {
position:absolute;
display:block;
right:10px;
top:8px;
width:10px;
height:10px;
text-indent:-999em;
overflow:hidden;
background:url(js/images/arrows.png) no-repeat -10px -100px;
}

a > .sf-sub-indicator {
top:8px;
background-position:0 -100px;
}

a:focus > .sf-sub-indicator,a:hover > .sf-sub-indicator,a:active > .sf-sub-indicator,li:hover > a > .sf-sub-indicator,li.sfHover > a > .sf-sub-indicator {
background-position:-10px -100px;
}

.sf-menu ul a > .sf-sub-indicator {
background-position:0 0;
}

#nav .sf-shadow ul {
background:url(js/images/shadow.png) no-repeat bottom right;
-moz-border-radius-bottomleft:17px;
-moz-border-radius-topright:17px;
-webkit-border-top-right-radius:17px;
-webkit-border-bottom-left-radius:17px;
padding:0 8px 9px 0;
}

#nav .sf-shadow ul.sf-shadow-off {
background:transparent;
}

.sf-menu li:hover li ul,.sf-menu li.sfHover li ul,.sf-menu li li:hover li ul,.sf-menu li li.sfHover li ul {
top:-999em;
}

.sf-menu li li:hover ul,.sf-menu li li.sfHover ul,.sf-menu li li li:hover ul,.sf-menu li li li.sfHover ul {
left:200px;
top:0;
}

.sf-menu ul .sf-sub-indicator,.sf-menu ul a:focus > .sf-sub-indicator,.sf-menu ul a:hover > .sf-sub-indicator,.sf-menu ul a:active > .sf-sub-indicator,.sf-menu ul li:hover > a > .sf-sub-indicator,.sf-menu ul li.sfHover > a > .sf-sub-indicator {
background-position:-10px 0;
}

.preview .node {
background-color:#fff;
border:1px solid #ddd;
margin-bottom:20px;
padding:20px;
}

.node-links {
clear:both;
}

img[align=left] {
margin:0 10px 5px 0;
}

.node-teaser {
border-bottom:1px dotted #aaa;
margin-bottom:10px;
padding-bottom:10px;
}

img[align=right] {
margin:0 0 5px 10px;
}

ul.primary {
font-weight:700;
margin-top:10px;
}

ul.secondary {
font-weight:700;
font-size:12px;
margin:0;
}

ul.primary li a {
background:#d0cabc;
border-color:#b7b2a5;
}

ul.primary li.active a,ul.secondary li.active a {
background:#d8d2c3;
border-bottom-color:#d8d2c3;
}

#content-top-inline-region p,#content-bottom-inline-region p {
font-size:12px;
line-height:14px;
text-align:justify;
}

#content-top-inline-region h2,#content-bottom-inline-region h2 {
padding-bottom:0;
background:none;
margin:5px 0;
}

#content-top-inline-region .block-1 .block-inner,#content-bottom-inline-region .block-1 .block-inner {
margin-right:15px;
}

#content-bottom-inline-region {
padding-top:20px;
}

.sidebar .block .content {
background:#cdc7bb url(images/block.jpg) no-repeat bottom;
font-size:12px;
padding:10px;
}

.sidebar .block .block-title {
background:url(images/block.jpg) no-repeat;
margin:15px 0 0;
padding:0 10px;
}

.sidebar .block h2 {
margin:0;
padding:7px 0 0;
}

.block a {
color:#737666;
}

div.error {
background:#cec8ba url(images/icons/error-48.png) no-repeat;
}

div.warning {
background:#cec8ba url(images/icons/warning-48.png) no-repeat;
}

div.status {
background:#cec8ba url(images/icons/info-48.png) no-repeat;
}

div.messages,div.warning,div.password-description {
border:1px solid #a59e94;
color:#000;
font-weight:700;
background-position:5px 50%;
margin:10px 0;
padding:20px 10px 20px 60px;
}

table.system-status-report tr.error th {
background-image:url(images/icons/error-20.png);
}

table.system-status-report tr.warning th {
background-image:url(images/icons/warning-20.png);
}

table.system-status-report tr.ok th {
background-image:url(images/icons/ok-20.png);
}

.submitted {
font-size:10px;
line-height:10px;
letter-spacing:2px;
text-transform:uppercase;
font-weight:700;
margin:5px 0;
}

div.block,#nav,.views-row,.node {
position:relative;
}

div.block div.edit,#nav div.edit,.views-field-edit-node,.node div.edit {
display:none;
position:absolute;
top:2px;
right:1px;
}

div.block:hover div.edit,#nav:hover div.edit,.views-row:hover .views-field-edit-node,.node:hover div.edit {
display:block;
z-index:99;
}

div.view div.views-admin-links li a {
color:#aaa;
}

#tooltip {
position:absolute;
border:1px solid #333;
background:#efefef url(images/gradient.png) repeat-x;
background-position:0 -5px;
color:#333;
font-weight:700;
display:none;
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
z-index:99;
padding:5px 10px;
}

.form-item {
margin:5px 0;
}

input.form-text,textarea,input[type=text],input[type=password] {
background:url(images/input.png) #fff no-repeat;
border:1px solid #444;
color:#000;
padding:2px;
}

#user-login-form {
text-align:left;
}

#user-login-form input {
width:94%;
}

#user-login-form input[type=submit] {
width:auto;
}

html.js fieldset.collapsible legend a {
background:transparent url(images/down.png) no-repeat scroll 5px 50%;
padding-left:20px;
}

html.js fieldset.collapsed legend a {
background-image:url(images/right.png);
padding-left:20px;
}

img.screenshot {
border:1px solid #aaa;
padding:2px;
}

#admin-menu ul a {
color:#ccc;
font:11px Tahoma, Verdana, Arial, 'Liberation Sans', FreeSans, sans-serif;
border-color:#555;
}

div.admin-panel {
padding:0;
}

div.admin .left,div.admin .right {
margin:0;
}

#comments .comment {
border:1px solid #a59e94;
font-size:12px;
margin:5px;
padding:10px;
}

.comment h3 {
background:transparent url(images/icon-comment.png) no-repeat scroll left center;
font-size:14px;
letter-spacing:normal;
font-weight:700;
margin:0;
padding:10px 0 12px 19px;
}

.comment p {
margin:12px 0;
}

.comment .submitted {
font-size:11px;
line-height:16px;
letter-spacing:normal;
text-transform:none;
font-weight:400;
border-bottom:1px dotted #aaa;
margin:5px 0;
}

body.front,body.not-front,#page {
background:#d8d2c3;
}

#main,#footer,#footer-message {
padding:10px 0;
}

.menu a,.sf-menu a:hover {
text-decoration:none;
}

.item-list ul li,.content li,li.leaf {
list-style-image:url(images/leaf.png);
}

table,tbody,td,.views-row-last .node-teaser {
border:none;
}

table.sticky-table,.sf-menu ul li {
width:100%;
}

th.active,thead th,div.ok,tr.ok,.update tr.ok {
background:#cec8ba;
}

.hidden,body.imce #admin-menu {
display:none;
}
